name: K6 Performance Testing

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup K6
        uses: grafana/setup-k6-action@v1

      - name: Criar diretório de output
        run: mkdir -p src/output

      - name: Run k6 test
        uses: grafana/run-k6-action@v1
        with:
          path: src/tests/Tests.spec.js
          flags: --out json=src/output/results.json --out web-dashboard=src/output/dashboard.html

      - name: Upload dos Relatórios
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: k6-reports
          path: src/output/
          retention-days: 30