name: K6 Performance Testing

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:   
    - cron: '0 12 * * *'

jobs:
  run-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Setup K6
        uses: grafana/setup-k6-action@v1.1.0
      - name: Run local k6 test
        uses: grafana/run-k6-action@v1.3.1
        with:
          path: src/tests
